.burger {
    display: none;
    width: 52px;
}

.burger__wrapper {
    display: none;
    width: 100%;
}

/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
}

/* стилизуем кнопку */
.menu__btn {
    display: flex;
    /* используем flex для центрирования содержимого */
    align-items: center;
    /* центрируем содержимое кнопки */
    position: absolute;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

/* добавляем "гамбургер" */
.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
}

.menu__btn>span::before {
    content: "";
    top: -8px;
}

.menu__btn>span::after {
    content: "";
    top: 8px;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
}

@media (max-width: 690px) {
    .slide-fade-enter-active {
        transition: all 0.2s ease-out;
    }

    .slide-fade-leave-active {
        transition: all 0.2s;
    }

    .slide-fade-enter-from,
    .slide-fade-leave-to {
        transform: translateX(-20px);
        opacity: 0;
    }

    .burger {
        display: block;
    }

    .burger__wrapper {
        display: block;
        position: absolute;
        top: 62px;
        left: 0;

        z-index: 999;

        & ul {
            margin: 0;
            list-style: none;

            & li {
                width: 100%;
                padding: 8px 8px 8px 46px;
                margin-bottom: 8px;
                box-sizing: border-box;
            }

            & a {
                display: flex;
                padding: 8px;
                font-size: 18px;
                color: #ffffff;
                text-decoration: none;
            }
        }
    }

    .burger__content-info-no-border {
        padding: 0;
    }

    .burger__content {
        margin-top: -6px;
        border-radius: 10px 10px 0 0;
        background: linear-gradient(to top, #1e2125 0%, rgba(30, 33, 37, 0) 100%),
            #000;
    }

    .burger__content-info-border {
        padding: 24px 0 26px 0;

        &::before {
            content: "";
            display: block;
            margin: 11px auto;
            width: calc(100% - 40px);
            border-top: 1px solid #454549;
        }

        &::after {
            content: "";
            display: block;
            margin: 11px auto;
            width: calc(100% - 40px);
            border-bottom: 1px solid #454549;
        }
    }

    .burger__wrapper-buttons {
        padding: 0px 0 18px 0;
        background: #242429;
    }

    .burger__main-buttons {
        width: 60%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
}

.burger__content-social {
    padding: 18px 0;

    & svg {
        text-align: center;
        display: flex;
        margin: 0 auto;
    }
}

@media (max-width: 450px) {
    .burger__main-buttons {
        width: 90%;
    }
}

@media (max-width: 356px) {
    .burger__main-buttons {
        width: 100%;
        padding: 0 19px;
        box-sizing: border-box;
    }
}