header {
    background: rgba(216, 216, 216, 0.14);
}

.header__wrapper {
    width: 100%;
    max-width: 1380px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

@media (max-width: 1600px) {
    .header__wrapper {
        width: 95vw;
        margin: 0 auto;
        padding: 13px 22px;
    }
}

@media (max-width: 980px) {
    header {
        background: #242429;
    }

    .header__wrapper {
        padding: 13px 0;
    }
}