.filter__input {
    background-color: rgba(245, 245, 247, 0.16);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 20px;
}

.filter__input-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px 0px;
    font-size: 15px;
    line-height: 32px;
}

.filter__input-search {
    width: 100%;
    position: relative;

    & svg {
        position: absolute;
        top: 8px;
        left: 9px;
        width: 16px;
    }

    & input {
        padding: 11px 10px 12px 35px;
        border: 1px solid #59595c;
        border-radius: 4px;
        font-size: 16px;
        line-height: normal;
        color: #f5f5f7;
        background-color: #3c3c40;
        width: 90%;
        box-sizing: border-box;
        transition: 0.2s;

        &:hover {
            border-color: #59595c;
            background-color: #46464c;
        }
    }

    & svg:hover {
        opacity: 0.7;
    }
}

@media (max-width: 508px) {
    .filter__input-search {
        & input {
            width: 100%;
        }
    }
}